.nextButton {
    border-radius: 4px;
    background-color: #3e92cc;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 900px;
}

.nextButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.nextButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.nextButton:hover span {
    padding-right: 25px;
}

.nextButton:hover span:after {
    opacity: 1;
    right: 0;
}

::-moz-selection {
    background-color: #C3CFE2;
}

::selection {
    background-color: #C3CFE2;
}

body {
    /* 
    display: flex;
    align-items: center;
    justify-content: center; */
    background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
}

.text {
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}


.arrow {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    margin: 10px 0px 0px 250px;
}

.arrow:before, .arrow:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
}


.arrow-down:before {
    border: none;
    background-color: #555;
    height: 50%;
    width: 30%;
    top: 0;
    left: 35%;
}

.arrow-down:after {
    left: 0;
    top: 50%;
    border-width: 20px 20px;
    border-top-color: #555;
}